<ion-view class="white-bg">
    <ion-content ng-class="{expanded:isExpanded}" style="margin-bottom:4.5em;">

        <div class="hero question-title slide-up">
          <div class="question-title-panel blue-light-bg">
            <h4 class="light" >Pregunta {{ cuestionary.questionId }}</h4>
            <div class="content">
                <p class="light" ng-bind="cuestionary.question.descripcion"></p>
            </div>
          </div>
        </div>

        <div class="hero question-content-select slide-up">
            <div class="content">
                <div ng-class="styleHelp">
                  <h5>{{ textPanelQuestion }}</h5>
                </div>

            </div>
        </div>

        <div class="content list-options" ng-if="cuestionary.questionId == 1">
            <div class="list animate-fade-slide-in-right">
               <label class="item item-radio">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP1" ng-value="'Nada probable'">
                  <div class="item-content">
                     Nada probable
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>

               <label class="item item-radio">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP1" ng-value="'Poco probable'">
                  <div class="item-content">
                     Poco probable
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>

               <label class="item item-radio">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP1" ng-value="'Probable'">
                  <div class="item-content">
                     Probable
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>

               <label class="item item-radio">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP1" ng-value="'Muy probable'">
                  <div class="item-content">
                     Muy probable
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>
            </div>
        </div>

        <div class="list-options" style="width:92%;"
          ng-if="cuestionary.questionId == 2 || cuestionary.questionId == 5">
            <div class="list animate-fade-slide-in-right" >

  <label class="item item-input" style="margin:1.3em;">
    <input type="text" placeholder="Palabra uno"
      required ng-minlength="3" ng-maxlength="16" ng-trim="true"
      ng-model="cuestionary.answerText1">
  </label>
  <label class="item item-input" style="margin:1.3em;">
    <input type="text" placeholder="Palabra dos"
      ng-minlength="3" ng-maxlength="16" ng-trim="true" 
      ng-model="cuestionary.answerText2"
    >
  </label>

            </div>
        </div>

        <div class="content list-options" ng-if="cuestionary.questionId == 3 || cuestionary.questionId == 6">
            <div class="list animate-fade-slide-in-right">
               <label class="item item-radio" >
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP3" ng-value="'Si'">
                  <div class="item-content" style="padding-top:1.4em;padding-bottom:1.4em;">
                    Si
                    <br/>
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>

               <label class="item item-radio skyblue-dark-bg">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP3" ng-value="'No'">
                  <div class="item-content" style="padding-top:1.4em;padding-bottom:1.4em;">
                    No
                    <br/>
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>
            </div>
        </div>

        <div class="content list-options" ng-if="cuestionary.questionId == 4">
            <div class="list light animate-fade-slide-in-right">
               <label class="item item-radio item-text-wrap">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP4" 
                    ng-value="'Si, el sector privado puede ser un fuerte aliado'">
                  <div class="item-content" style="padding-top:1.2em;padding-bottom:1.2em;">
                    Si, el sector privado puede ser un fuerte aliado
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>

               <label class="item item-radio skyblue-dark-bg item-text-wrap">
                  <input type="radio" name="group1" ng-model="cuestionary.anwserP4" 
                    ng-value="'No, la responsabilidad de la educación es sólo del gobierno'">
                  <div class="item-content" style="padding-top:1.2em;padding-bottom:1.2em;">
                    No, la responsabilidad de la educación es sólo del gobierno
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
               </label>
            </div>
        </div>


    </ion-content>
</ion-view>

<div class="bar bar-footer footerStandar blue-light-bg">
    <a class="title" av-transition="ios" ng-click="cuestionary.saveAnswerAndNext()">
        <button class="button button-clear">
            {{ textButtonQuestion }} <i class="icon next-button"></i>
        </button>
    </a>
</div>
