<ion-view>
    <ion-nav-view name="fabContent">
        <button id="fabTotalVotos" 
            class="button button-fab button-fab-bottom-right button-energized-900">
            {{ graphicQuestion3.answers }}
        </button>
    </ion-nav-view>
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
				<h2 class="light text-center" ng-bind="graphicQuestion3.question.descripcion"></h2>
        	</div>
        </div>

        <ion-content  has-header="true" class="panelGraphic">
                <div class="botonesLaterales vertical-center">
                    <div>
                        <img ng-src="/img/signomenor.png" ui-sref="graphic-question-2">
                    </div>
                </div>
                <div class="row contenidoCentral">
                    <div class="col">
                        <svg class="burbleSi" width="99%" height="65"></svg> 
                        <svg id="burbleSi" width="99%" height="760" ></svg> 
                    </div>
                    <div class="col">
                        <svg class="burbleNo" width="99%" height="65"></svg> 
                        <svg id="burbleNo" width="99%" height="760" ></svg>
                    </div>
                </div>
                <div class="botonesLaterales vertical-center">
                    <div>
                        <img ng-src="/img/signomayor.png" ui-sref="graphic-question-4">
                    </div>
                </div>
        </ion-content>


    </ion-content>
</ion-view>