<ion-view>
    <ion-nav-view name="fabContent">
        <button id="fabTotalVotos" 
            class="button button-fab button-fab-bottom-right button-red">
            Nro. votos: <span>{{ graphicQuestion6.answers }}</span>
        </button>
    </ion-nav-view>

    <ion-content ng-class="{expanded:isExpanded}">

        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
				<h2 class="light text-center" ng-bind="graphicQuestion6.question.descripcion"></h2>
        	</div>
        </div>

        <ion-content  has-header="true" class="margin-top-gq6">
                <div class="botonesLaterales vertical-center">
                    <div>
                        <img ng-src="/img/signomenor.png" ui-sref="graphic-question-5">
                    </div>
                </div>
                <div class="contenidoCentral graphic6">
                    <div style="float:none;padding: 1.7em 3.5em;">
                        <div id="graph-legend" class="chart-legend"></div>
                        <canvas id="chartQ6" class="mychart" ></canvas>
                    </div>
                </div>
                <div class="botonesLaterales vertical-center">
                    <div>
                        &nbsp;
                    </div>
                </div>
        </ion-content>


    </ion-content>
</ion-view>