<ion-view>
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
			    <h3 class="skyblue-color text-center">
			        Después de este evento:
			    </h3>
				<h2 class="light text-center" ng-bind="graphicQuestion3.question.descripcion"></h2>
        	</div>
        </div>

        <div class="slide-up">
            <div class="row" style="width:100%;">
                <div class="col">
                    <h2 class="title" style="text-align:center;">SI</h2>
                    <svg id="burbleSi" width="99%" height="340" ></svg> 
                    <svg class="burbleSi" width="99%" height="50"></svg> 
<!--                     <h4 class="title" style="text-align:center;" ng-bind="graphicQuestion3.totalSi"></h4>
 -->                </div>
                <div class="col">
                    <h2 class="title" style="text-align:center;">NO</h2>
                	<svg id="burbleNo" width="99%" height="340" ></svg>
                    <svg class="burbleNo" width="99%" height="50"></svg> 
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>