<ion-view>
    <ion-nav-view name="fabContent">
        <button id="fabTotalVotos" 
            class="button button-fab button-fab-bottom-right button-energized-900">
            {{ graphicQuestion5.getTotalByQuestion }}
        </button>
    </ion-nav-view>
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
				<h2 class="light text-center" ng-bind="graphicQuestion5.question.descripcion"></h2>
        	</div>
        </div>

        <ion-content  has-header="true"
            style="margin-top:2em;">
                <div class="botonesLaterales vertical-center">
                    <div>
                        <img ng-src="/img/signomenor.png" ui-sref="graphic-question-4">
                    </div>
                </div>
                <div class="contenidoCentral">
                    <div class="contentGraphic"></div>
                </div>
                <div class="botonesLaterales vertical-center">
                    <div>
                        <img ng-src="/img/signomayor.png" ui-sref="graphic-question-6">
                    </div>
                </div>
        </ion-content>


    </ion-content>
</ion-view>