    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" >



        <ion-view view-title="Cuestionary">
            <ion-content  has-header="true" padding="true"
                ng-class="{expanded:$scope.isExpanded}" class="fondoStandar">


                <ion-content has-header="true" padding="true" id="content-center"
                    class="hero slide-up">

                    <div class="content">
                        
	                    <h3>pregunta:</h3>
	                    <h3><a class="light" ng-bind="cuestionary.question.descripcion"></a></h3>
	                    <p>{{cuestionary.question.detalle}}</p>


			            <ion-md-input placeholder="Opina con una sola palabra" 
			            	highlight-color="balanced" type="text"></ion-md-input>
                    </div>

                </ion-content>



            </ion-content>
        </ion-view>


    </ion-nav-view>

