<ion-view>
    <ion-nav-view name="fabContent">
        <button id="fabTotalVotos" 
            class="button button-fab button-fab-bottom-right button-energized-900">
            {{ graphicQuestion1.answersTotal }}
        </button>
    </ion-nav-view>

    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
				<h2 class="light text-center" ng-bind="graphicQuestion1.question.descripcion"></h2>
        	</div>
        </div>

        <ion-content  has-header="true" class="margin-top-gq1">
                <div style="" class="botonesLaterales">
                    &nbsp;
                </div>
                <div class="contenidoCentral"
                    >
                    <bubble-cloud style=""
                        diameter="{{diameter}}"
                        watch="true"
                        data="net_worth"
                        value-attr="balance"
                        total-attr="total"
                        label-attr="name"
                        fill-color-fn="fill_color"
                        label-color-fn="label_color"
                    ></bubble-cloud>
                </div>
                <div class="vertical-center botonesLaterales">
                    <div>
                        <img ng-src="/img/signomayor.png" ui-sref="graphic-question-2">
                    </div>
                </div>
        </ion-content>


    </ion-content>
</ion-view>