<ion-view>
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="list animate-fade-slide-in-right skyblue-dark-bg panelTitleGraphic">
        	<div class="item item-text-wrap">
			    <h3 class="skyblue-color text-center">
			        Después de este evento:
			    </h3>
				<h2 class="light text-center" ng-bind="graphicQuestion2.question.descripcion"></h2>
        	</div>
        </div>

        <div class="slide-up">
            <div class="content" style="text-align:center;">
		        <div class="contentGraphic"></div>
            </div>
        </div>


    </ion-content>
</ion-view>
<!-- <ul>
    <li ng-repeat="question in graphicQuestion2.getByQuestion">
      {{question.text}}
    </li>
  </ul> -->